mat-card.login-card {
    max-width: 500px;
    margin: auto;
    padding: 0 0 20px;
    background: #b3b3b3
}

.login-full-width{
    width: 90%;
    padding: 0 20px;
}
mat-card.login-card mat-card-content {
    padding: 20px 20px 0;
    font-size: 18px;
}
.login-card mat-card-title.mat-card-title {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}
.login-card mat-card-header.mat-card-header {
    background: #673ab7;
}
.login-card button.mat-raised-button.mat-button {
    width: 37%;
}
.login-card .mat-card-actions{
    text-align: center
}
.login-card .mat-icon {
    position: absolute;
    right: 0;
}